# dependencies
node_modules/

# build output
dist/
dist-ssr/

# environment variables
.env
.env.local
*.local

# IDE files
.idea/
.vscode/*
!.vscode/extensions.json

# OS files
.DS_Store

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# extra files that should not be submitted
Task_Planner (2)/
Task_Planner (2).zip
img.png
img_1.png
img_2.png
